node-red_voicemeeeter.json
[
    {
        "id": "a03be8365ffa1ffd",
        "type": "group",
        "z": "624ab42bda55e5d9",
        "name": "Voicemeeter Steuerung",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "c8176fcab8d61f99",
            "eb910993b3daeddc",
            "47eace0ad3edb016",
            "d9b2bbe9a54a0fed",
            "7c8915ef9b1d194d",
            "f9bd99d6906922e8",
            "b870552b058d1d16",
            "df66073822b77050",
            "a8c379ddfd7fdb1b",
            "64b6d7a20a434500",
            "931ddf622eff7a40",
            "7336acf2c219e125",
            "2c0fd9f27544932e",
            "10295b5aed9aa77d",
            "c78ffe1808a50c92",
            "f952ebdca99c9778",
            "be0b744f62892180",
            "44e09f290863e83a"
        ],
        "x": 214,
        "y": 639,
        "w": 1472,
        "h": 442
    },
    {
        "id": "c8176fcab8d61f99",
        "type": "websocket out",
        "z": "624ab42bda55e5d9",
        "g": "a03be8365ffa1ffd",
        "name": "To VM Bridge",
        "server": "",
        "client": "722a63c3ec7f1d7b",
        "x": 1580,
        "y": 820,
        "wires": []
    },
    {
        "id": "eb910993b3daeddc",
        "type": "websocket in",
        "z": "624ab42bda55e5d9",
        "g": "a03be8365ffa1ffd",
        "name": "From VM Bridge",
        "server": "",
        "client": "722a63c3ec7f1d7b",
        "x": 320,
        "y": 740,
        "wires": [
            [
                "10295b5aed9aa77d"
            ]
        ]
    },
    {
        "id": "47eace0ad3edb016",
        "type": "debug",
        "z": "624ab42bda55e5d9",
        "g": "a03be8365ffa1ffd",
        "name": "WS Response",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 740,
        "wires": []
    },
    {
        "id": "d9b2bbe9a54a0fed",
        "type": "function",
        "z": "624ab42bda55e5d9",
        "g": "a03be8365ffa1ffd",
        "name": "Distribute to Faders",
        "func": "// Empf\u00e4ngt z.B. \"strip_gain_5\"\nif (!msg.topic) return null;\n\n// Send copy to ALL outputs (Broadcast)\n// Frontend UI will filter based on ID\nconst clone = () => ({ ...msg, _msgid: msg._msgid + '_' + Math.random() });\n\n// Assuming 3 outputs\nreturn [clone(), clone(), clone()];\n",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 840,
        "wires": [
            [
                "7c8915ef9b1d194d",
                "2c0fd9f27544932e"
            ],
            [
                "f9bd99d6906922e8"
            ],
            [
                "b870552b058d1d16"
            ]
        ]
    },
    {
        "id": "7c8915ef9b1d194d",
        "type": "ui_template",
        "z": "624ab42bda55e5d9",
        "g": "a03be8365ffa1ffd",
        "group": "072397c351e37a35",
        "name": "AIRMEDIA",
        "order": 1,
        "width": 4,
        "height": 12,
        "format": "<!DOCTYPE html>\n<html lang=\"de\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Pro Audio Fader</title>\n</head>\n<body>\n    <div class=\"pro-audio-fader\" id=\"fader-{{$id}}\">\n        <style>\n            .pro-audio-fader {\n                background: #1e1e1e;\n                border: 2px solid #333;\n                border-radius: 8px;\n                padding: 15px;\n                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);\n                user-select: none;\n                touch-action: none;\n            }\n            .channel-header { display: flex; justify-content: space-between; align-items: center; margin-bottom: 15px; }\n            .channel-label { color: #fff; font-size: 18px; font-weight: bold; }\n            .value-display {\n                background: #000; color: #0f0; text-align: center; padding: 8px;\n                font-family: 'Courier New', monospace; font-size: 20px;\n                margin: 10px 0; border: 2px solid #333; border-radius: 4px;\n            }\n            .fader-section {\n                display: flex; justify-content: center; align-items: flex-start;\n                margin: 20px 0; height: 300px; position: relative;\n            }\n            .vu-meter {\n                width: 20px; height: 100%; background: #000; border: 1px solid #444;\n                position: relative; margin-right: 15px; overflow: hidden;\n            }\n            .vu-gradient {\n                position: absolute; bottom: 0; width: 100%; height: 100%;\n                background: linear-gradient(to top, #00ff00 0%, #00ff00 60%, #ffff00 80%, #ff8800 90%, #ff0000 100%);\n                transition: transform 0.1s;\n            }\n            .fader-container { position: relative; width: 60px; height: 100%; padding: 0 20px; margin: 0 -20px; }\n            .fader-track {\n                position: absolute; left: 50%; transform: translateX(-50%);\n                width: 10px; height: 100%; background: linear-gradient(to bottom, #222, #000);\n                box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8); border-radius: 5px;\n            }\n            .fader-scale {\n                position: absolute; left: -25px; height: 100%; width: 20px;\n                font-size: 10px; color: #888;\n            }\n            .scale-mark { position: absolute; right: 0; transform: translateY(-50%); }\n            .fader-handle {\n                position: absolute; width: 50px; height: 40px; left: 50%;\n                transform: translateX(-50%); background: linear-gradient(to bottom, #888, #444);\n                border: 2px solid #222; border-radius: 4px; cursor: grab;\n                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5); touch-action: none;\n            }\n            .fader-handle:active, .fader-handle.dragging { cursor: grabbing; background: linear-gradient(to bottom, #999, #555); }\n            .fader-handle::after {\n                content: ''; position: absolute; top: 50%; left: 50%;\n                transform: translate(-50%, -50%); width: 70%; height: 3px;\n                background: #aaa; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);\n            }\n            .control-buttons { display: grid; grid-template-columns: 1fr 1fr; gap: 10px; margin-top: 20px; }\n            .ctrl-btn {\n                padding: 12px; border: 2px solid #444;\n                background: linear-gradient(to bottom, #3a3a3a, #2a2a2a);\n                color: #ccc; cursor: pointer; font-size: 14px; font-weight: bold;\n                border-radius: 4px; transition: all 0.2s; text-transform: uppercase;\n                touch-action: manipulation;\n            }\n            .ctrl-btn:hover { background: linear-gradient(to bottom, #4a4a4a, #3a3a4a); border-color: #666; }\n            .ctrl-btn:active { transform: translateY(1px); }\n            .ctrl-btn.mute.active { background: linear-gradient(to bottom, #ff0000, #aa0000); border-color: #ff0000; color: #fff; box-shadow: 0 0 10px rgba(255, 0, 0, 0.5); }\n            .ctrl-btn.solo.active { background: linear-gradient(to bottom, #ffaa00, #aa7700); border-color: #ffaa00; color: #fff; box-shadow: 0 0 10px rgba(255, 170, 0, 0.5); }\n        </style>\n\n        <div class=\"channel-header\">\n            <div class=\"channel-label\">{{config.type}} {{config.id}}</div>\n        </div>\n\n        <div class=\"value-display\">{{displayValue}} dB</div>\n\n        <div class=\"fader-section\">\n            <div class=\"vu-meter\">\n                <div class=\"vu-gradient\" ng-style=\"{'transform': 'translateY(' + (100 - audioLevel) + '%)'}\"></div>\n            </div>\n\n            <div class=\"fader-container\">\n                <div class=\"fader-scale\">\n                    <div class=\"scale-mark\" style=\"top: 0%\">+12</div>\n                    <div class=\"scale-mark\" style=\"top: 10%\">+6</div>\n                    <div class=\"scale-mark\" style=\"top: 25%\">0</div>\n                    <div class=\"scale-mark\" style=\"top: 40%\">-6</div>\n                    <div class=\"scale-mark\" style=\"top: 55%\">-12</div>\n                    <div class=\"scale-mark\" style=\"top: 70%\">-24</div>\n                    <div class=\"scale-mark\" style=\"top: 85%\">-36</div>\n                    <div class=\"scale-mark\" style=\"top: 100%\">-60</div>\n                </div>\n                <div class=\"fader-track\"></div>\n                <div class=\"fader-handle\" ng-style=\"{'top': faderPosition + 'px'}\"></div>\n            </div>\n        </div>\n\n        <div class=\"control-buttons\">\n            <button class=\"ctrl-btn mute\" ng-class=\"{'active': muted}\" ng-click=\"toggleMute()\">MUTE</button>\n            <button class=\"ctrl-btn solo\" ng-class=\"{'active': solo}\" ng-click=\"toggleSolo()\">SOLO</button>\n        </div>\n    </div>\n\n<script>\n    (function(scope) {\n        // =================================================================\n        // KONFIGURATION (Type: 'Strip' oder 'Bus', ID: Nummer)\n        // =================================================================\n        scope.config = {\n            type: 'Strip', // Default, wird ggf. unten \u00fcberschrieben\n            id: 0\n        };\n        \n        // HACK: Namenbasierte Konfiguration beibehalten, damit das Update\n        // bestehende Nodes nicht kaputt macht.\n        if(scope.name === \"AIRMEDIA\") { scope.config.id = 6; }\n        else if(scope.name === \"LED\") { scope.config.id = 7; }\n        else if(scope.name === \"TEAMS\") { scope.config.id = 5; }\n        // =================================================================\n\n        console.log(\"Generic Fader Init:\", scope.config.type, scope.config.id);\n\n        scope.displayValue = \"+12\";\n        scope.faderPosition = 0;\n        scope.audioLevel = 0;\n        scope.muted = false;\n        scope.solo = false;\n\n        var isDragging = false;\n        var minDb = -60;\n        var maxDb = 12;\n        var trackHeight = 300;\n        var handleHeight = 40;\n        var maxPosition = trackHeight - handleHeight;\n        var sendTimer = null;\n\n        function dbToPosition(db) {\n            var normalized = (db - minDb) / (maxDb - minDb);\n            return (1 - normalized) * maxPosition;\n        }\n\n        function positionToDb(pos) {\n            var normalized = 1 - (pos / maxPosition);\n            return normalized * (maxDb - minDb) + minDb;\n        }\n\n        function updateDisplay(db) {\n            var currentDb = Math.round(db * 2) / 2;\n            scope.displayValue = currentDb >= 0 ? \"+\" + currentDb : currentDb.toString();\n            scope.faderPosition = dbToPosition(currentDb);\n        }\n\n        function sendCommand(cmd, val) {\n             // Topic construction: strip_gain_5 or bus_mute_0\n             var prefix = scope.config.type.toLowerCase();\n             scope.send({\n                payload: val,\n                topic: prefix + \"_\" + cmd + \"_\" + scope.config.id\n             });\n        }\n\n        scope.toggleMute = function() {\n            scope.muted = !scope.muted;\n            sendCommand(\"mute\", scope.muted);\n        };\n        scope.toggleSolo = function() {\n            scope.solo = !scope.solo;\n            sendCommand(\"solo\", scope.solo);\n        };\n\n        // DRAG & DROP LOGIC\n        function startDrag(event) {\n            isDragging = true;\n            event.preventDefault();\n            document.body.style.cursor = 'grabbing';\n            var handle = event.currentTarget || event.target;\n            handle.classList.add('dragging');\n            var container = document.querySelector('#fader-' + scope.$id + ' .fader-container');\n            var rect = container.getBoundingClientRect();\n\n            function handleMove(e) {\n                if (!isDragging) return;\n                var clientY = (e.touches) ? e.touches[0].clientY : e.clientY;\n                var y = clientY - rect.top - (handleHeight / 2);\n                y = Math.max(0, Math.min(maxPosition, y));\n                \n                var currentDb = positionToDb(y);\n                updateDisplay(currentDb);\n                \n                if(!scope.$$phase) scope.$apply();\n\n                clearTimeout(sendTimer);\n                sendTimer = setTimeout(function() {\n                    sendCommand(\"gain\", Math.round(currentDb * 2) / 2);\n                }, 60);\n            }\n\n            function stopDrag(e) {\n                isDragging = false;\n                document.body.style.cursor = 'default';\n                handle.classList.remove('dragging');\n                document.removeEventListener('mousemove', handleMove);\n                document.removeEventListener('mouseup', stopDrag);\n                document.removeEventListener('touchmove', handleMove);\n                document.removeEventListener('touchend', stopDrag);\n                \n                clearTimeout(sendTimer);\n                var finalDb = positionToDb(scope.faderPosition);\n                sendCommand(\"gain\", Math.round(finalDb * 2) / 2);\n            }\n\n            document.addEventListener('mousemove', handleMove);\n            document.addEventListener('mouseup', stopDrag);\n            document.addEventListener('touchmove', handleMove, { passive: false });\n            document.addEventListener('touchend', stopDrag, { passive: false });\n        }\n\n        scope.$watch('$id', function() {\n            setTimeout(function() {\n                var handle = document.querySelector('#fader-' + scope.$id + ' .fader-handle');\n                if (handle) {\n                    handle.removeEventListener('mousedown', startDrag);\n                    handle.removeEventListener('touchstart', startDrag);\n                    handle.addEventListener('mousedown', startDrag, { passive: false });\n                    handle.addEventListener('touchstart', startDrag, { passive: false });\n                }\n            }, 100);\n        });\n\n        // INCOMING UPDATES\n        scope.$watch('msg', function(msg) {\n            if (!msg || !msg.topic) return;\n            if (isDragging) return;\n\n            var parts = msg.topic.split('_'); // strip_gain_5\n            if (parts.length < 3) return;\n\n            var type = parts[0]; // 'strip' or 'bus'\n            var param = parts[1]; // 'gain', 'mute', 'solo'\n            var index = parseInt(parts[2]);\n\n            // Match Type and ID\n            if (type.toLowerCase() === scope.config.type.toLowerCase() && index === scope.config.id) {\n                var changed = true;\n                if (param === 'gain')      { updateDisplay(msg.payload); }\n                else if (param === 'mute') { scope.muted = msg.payload; }\n                else if (param === 'solo') { scope.solo = msg.payload; }\n                else if (param === 'level'){ \n                    // Convert Linear (0-1) to dB\n                    var val = msg.payload;\n                    var db = (val > 0.001) ? 20 * Math.log10(val) : -60;\n                    scope.audioLevel = Math.max(0, Math.min(100, (db + 60) * 1.66)); \n                }\n                else { changed = false; }\n\n                if (changed && !scope.$$phase) {\n                    scope.$apply();\n                }\n            }\n        });\n    })(scope);\n</script>\n</body>\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1230,
        "y": 780,
        "wires": [
            [
                "df66073822b77050",
                "f952ebdca99c9778"
            ]
        ]
    },
    {
        "id": "f9bd99d6906922e8",
        "type": "ui_template",
        "z": "624ab42bda55e5d9",
        "g": "a03be8365ffa1ffd",
        "group": "072397c351e37a35",
        "name": "LED",
        "order": 2,
        "width": 4,
        "height": 12,
        "format": "<!DOCTYPE html>\n<html lang=\"de\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Pro Audio Fader</title>\n</head>\n<body>\n    <div class=\"pro-audio-fader\" id=\"fader-{{$id}}\">\n        <style>\n            .pro-audio-fader {\n                background: #1e1e1e;\n                border: 2px solid #333;\n                border-radius: 8px;\n                padding: 15px;\n                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);\n                user-select: none;\n                touch-action: none;\n            }\n            .channel-header { display: flex; justify-content: space-between; align-items: center; margin-bottom: 15px; }\n            .channel-label { color: #fff; font-size: 18px; font-weight: bold; }\n            .value-display {\n                background: #000; color: #0f0; text-align: center; padding: 8px;\n                font-family: 'Courier New', monospace; font-size: 20px;\n                margin: 10px 0; border: 2px solid #333; border-radius: 4px;\n            }\n            .fader-section {\n                display: flex; justify-content: center; align-items: flex-start;\n                margin: 20px 0; height: 300px; position: relative;\n            }\n            .vu-meter {\n                width: 20px; height: 100%; background: #000; border: 1px solid #444;\n                position: relative; margin-right: 15px; overflow: hidden;\n            }\n            .vu-gradient {\n                position: absolute; bottom: 0; width: 100%; height: 100%;\n                background: linear-gradient(to top, #00ff00 0%, #00ff00 60%, #ffff00 80%, #ff8800 90%, #ff0000 100%);\n                transition: transform 0.1s;\n            }\n            .fader-container { position: relative; width: 60px; height: 100%; padding: 0 20px; margin: 0 -20px; }\n            .fader-track {\n                position: absolute; left: 50%; transform: translateX(-50%);\n                width: 10px; height: 100%; background: linear-gradient(to bottom, #222, #000);\n                box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8); border-radius: 5px;\n            }\n            .fader-scale {\n                position: absolute; left: -25px; height: 100%; width: 20px;\n                font-size: 10px; color: #888;\n            }\n            .scale-mark { position: absolute; right: 0; transform: translateY(-50%); }\n            .fader-handle {\n                position: absolute; width: 50px; height: 40px; left: 50%;\n                transform: translateX(-50%); background: linear-gradient(to bottom, #888, #444);\n                border: 2px solid #222; border-radius: 4px; cursor: grab;\n                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5); touch-action: none;\n            }\n            .fader-handle:active, .fader-handle.dragging { cursor: grabbing; background: linear-gradient(to bottom, #999, #555); }\n            .fader-handle::after {\n                content: ''; position: absolute; top: 50%; left: 50%;\n                transform: translate(-50%, -50%); width: 70%; height: 3px;\n                background: #aaa; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);\n            }\n            .control-buttons { display: grid; grid-template-columns: 1fr 1fr; gap: 10px; margin-top: 20px; }\n            .ctrl-btn {\n                padding: 12px; border: 2px solid #444;\n                background: linear-gradient(to bottom, #3a3a3a, #2a2a2a);\n                color: #ccc; cursor: pointer; font-size: 14px; font-weight: bold;\n                border-radius: 4px; transition: all 0.2s; text-transform: uppercase;\n                touch-action: manipulation;\n            }\n            .ctrl-btn:hover { background: linear-gradient(to bottom, #4a4a4a, #3a3a4a); border-color: #666; }\n            .ctrl-btn:active { transform: translateY(1px); }\n            .ctrl-btn.mute.active { background: linear-gradient(to bottom, #ff0000, #aa0000); border-color: #ff0000; color: #fff; box-shadow: 0 0 10px rgba(255, 0, 0, 0.5); }\n            .ctrl-btn.solo.active { background: linear-gradient(to bottom, #ffaa00, #aa7700); border-color: #ffaa00; color: #fff; box-shadow: 0 0 10px rgba(255, 170, 0, 0.5); }\n        </style>\n\n        <div class=\"channel-header\">\n            <div class=\"channel-label\">{{config.type}} {{config.id}}</div>\n        </div>\n\n        <div class=\"value-display\">{{displayValue}} dB</div>\n\n        <div class=\"fader-section\">\n            <div class=\"vu-meter\">\n                <div class=\"vu-gradient\" ng-style=\"{'transform': 'translateY(' + (100 - audioLevel) + '%)'}\"></div>\n            </div>\n\n            <div class=\"fader-container\">\n                <div class=\"fader-scale\">\n                    <div class=\"scale-mark\" style=\"top: 0%\">+12</div>\n                    <div class=\"scale-mark\" style=\"top: 10%\">+6</div>\n                    <div class=\"scale-mark\" style=\"top: 25%\">0</div>\n                    <div class=\"scale-mark\" style=\"top: 40%\">-6</div>\n                    <div class=\"scale-mark\" style=\"top: 55%\">-12</div>\n                    <div class=\"scale-mark\" style=\"top: 70%\">-24</div>\n                    <div class=\"scale-mark\" style=\"top: 85%\">-36</div>\n                    <div class=\"scale-mark\" style=\"top: 100%\">-60</div>\n                </div>\n                <div class=\"fader-track\"></div>\n                <div class=\"fader-handle\" ng-style=\"{'top': faderPosition + 'px'}\"></div>\n            </div>\n        </div>\n\n        <div class=\"control-buttons\">\n            <button class=\"ctrl-btn mute\" ng-class=\"{'active': muted}\" ng-click=\"toggleMute()\">MUTE</button>\n            <button class=\"ctrl-btn solo\" ng-class=\"{'active': solo}\" ng-click=\"toggleSolo()\">SOLO</button>\n        </div>\n    </div>\n\n<script>\n    (function(scope) {\n        // =================================================================\n        // KONFIGURATION (Type: 'Strip' oder 'Bus', ID: Nummer)\n        // =================================================================\n        scope.config = {\n            type: 'Strip', // Default, wird ggf. unten \u00fcberschrieben\n            id: 0\n        };\n        \n        // HACK: Namenbasierte Konfiguration beibehalten, damit das Update\n        // bestehende Nodes nicht kaputt macht.\n        if(scope.name === \"AIRMEDIA\") { scope.config.id = 6; }\n        else if(scope.name === \"LED\") { scope.config.id = 7; }\n        else if(scope.name === \"TEAMS\") { scope.config.id = 5; }\n        // =================================================================\n\n        console.log(\"Generic Fader Init:\", scope.config.type, scope.config.id);\n\n        scope.displayValue = \"+12\";\n        scope.faderPosition = 0;\n        scope.audioLevel = 0;\n        scope.muted = false;\n        scope.solo = false;\n\n        var isDragging = false;\n        var minDb = -60;\n        var maxDb = 12;\n        var trackHeight = 300;\n        var handleHeight = 40;\n        var maxPosition = trackHeight - handleHeight;\n        var sendTimer = null;\n\n        function dbToPosition(db) {\n            var normalized = (db - minDb) / (maxDb - minDb);\n            return (1 - normalized) * maxPosition;\n        }\n\n        function positionToDb(pos) {\n            var normalized = 1 - (pos / maxPosition);\n            return normalized * (maxDb - minDb) + minDb;\n        }\n\n        function updateDisplay(db) {\n            var currentDb = Math.round(db * 2) / 2;\n            scope.displayValue = currentDb >= 0 ? \"+\" + currentDb : currentDb.toString();\n            scope.faderPosition = dbToPosition(currentDb);\n        }\n\n        function sendCommand(cmd, val) {\n             // Topic construction: strip_gain_5 or bus_mute_0\n             var prefix = scope.config.type.toLowerCase();\n             scope.send({\n                payload: val,\n                topic: prefix + \"_\" + cmd + \"_\" + scope.config.id\n             });\n        }\n\n        scope.toggleMute = function() {\n            scope.muted = !scope.muted;\n            sendCommand(\"mute\", scope.muted);\n        };\n        scope.toggleSolo = function() {\n            scope.solo = !scope.solo;\n            sendCommand(\"solo\", scope.solo);\n        };\n\n        // DRAG & DROP LOGIC\n        function startDrag(event) {\n            isDragging = true;\n            event.preventDefault();\n            document.body.style.cursor = 'grabbing';\n            var handle = event.currentTarget || event.target;\n            handle.classList.add('dragging');\n            var container = document.querySelector('#fader-' + scope.$id + ' .fader-container');\n            var rect = container.getBoundingClientRect();\n\n            function handleMove(e) {\n                if (!isDragging) return;\n                var clientY = (e.touches) ? e.touches[0].clientY : e.clientY;\n                var y = clientY - rect.top - (handleHeight / 2);\n                y = Math.max(0, Math.min(maxPosition, y));\n                \n                var currentDb = positionToDb(y);\n                updateDisplay(currentDb);\n                \n                if(!scope.$$phase) scope.$apply();\n\n                clearTimeout(sendTimer);\n                sendTimer = setTimeout(function() {\n                    sendCommand(\"gain\", Math.round(currentDb * 2) / 2);\n                }, 60);\n            }\n\n            function stopDrag(e) {\n                isDragging = false;\n                document.body.style.cursor = 'default';\n                handle.classList.remove('dragging');\n                document.removeEventListener('mousemove', handleMove);\n                document.removeEventListener('mouseup', stopDrag);\n                document.removeEventListener('touchmove', handleMove);\n                document.removeEventListener('touchend', stopDrag);\n                \n                clearTimeout(sendTimer);\n                var finalDb = positionToDb(scope.faderPosition);\n                sendCommand(\"gain\", Math.round(finalDb * 2) / 2);\n            }\n\n            document.addEventListener('mousemove', handleMove);\n            document.addEventListener('mouseup', stopDrag);\n            document.addEventListener('touchmove', handleMove, { passive: false });\n            document.addEventListener('touchend', stopDrag, { passive: false });\n        }\n\n        scope.$watch('$id', function() {\n            setTimeout(function() {\n                var handle = document.querySelector('#fader-' + scope.$id + ' .fader-handle');\n                if (handle) {\n                    handle.removeEventListener('mousedown', startDrag);\n                    handle.removeEventListener('touchstart', startDrag);\n                    handle.addEventListener('mousedown', startDrag, { passive: false });\n                    handle.addEventListener('touchstart', startDrag, { passive: false });\n                }\n            }, 100);\n        });\n\n        // INCOMING UPDATES\n        scope.$watch('msg', function(msg) {\n            if (!msg || !msg.topic) return;\n            if (isDragging) return;\n\n            var parts = msg.topic.split('_'); // strip_gain_5\n            if (parts.length < 3) return;\n\n            var type = parts[0]; // 'strip' or 'bus'\n            var param = parts[1]; // 'gain', 'mute', 'solo'\n            var index = parseInt(parts[2]);\n\n            // Match Type and ID\n            if (type.toLowerCase() === scope.config.type.toLowerCase() && index === scope.config.id) {\n                var changed = true;\n                if (param === 'gain')      { updateDisplay(msg.payload); }\n                else if (param === 'mute') { scope.muted = msg.payload; }\n                else if (param === 'solo') { scope.solo = msg.payload; }\n                else if (param === 'level'){ \n                    // Convert Linear (0-1) to dB\n                    var val = msg.payload;\n                    var db = (val > 0.001) ? 20 * Math.log10(val) : -60;\n                    scope.audioLevel = Math.max(0, Math.min(100, (db + 60) * 1.66)); \n                }\n                else { changed = false; }\n\n                if (changed && !scope.$$phase) {\n                    scope.$apply();\n                }\n            }\n        });\n    })(scope);\n</script>\n</body>\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1220,
        "y": 840,
        "wires": [
            [
                "df66073822b77050",
                "be0b744f62892180"
            ]
        ]
    },
    {
        "id": "b870552b058d1d16",
        "type": "ui_template",
        "z": "624ab42bda55e5d9",
        "g": "a03be8365ffa1ffd",
        "group": "072397c351e37a35",
        "name": "TEAMS",
        "order": 3,
        "width": 4,
        "height": 12,
        "format": "<!DOCTYPE html>\n<html lang=\"de\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Pro Audio Fader</title>\n</head>\n<body>\n    <div class=\"pro-audio-fader\" id=\"fader-{{$id}}\">\n        <style>\n            .pro-audio-fader {\n                background: #1e1e1e;\n                border: 2px solid #333;\n                border-radius: 8px;\n                padding: 15px;\n                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);\n                user-select: none;\n                touch-action: none;\n            }\n            .channel-header { display: flex; justify-content: space-between; align-items: center; margin-bottom: 15px; }\n            .channel-label { color: #fff; font-size: 18px; font-weight: bold; }\n            .value-display {\n                background: #000; color: #0f0; text-align: center; padding: 8px;\n                font-family: 'Courier New', monospace; font-size: 20px;\n                margin: 10px 0; border: 2px solid #333; border-radius: 4px;\n            }\n            .fader-section {\n                display: flex; justify-content: center; align-items: flex-start;\n                margin: 20px 0; height: 300px; position: relative;\n            }\n            .vu-meter {\n                width: 20px; height: 100%; background: #000; border: 1px solid #444;\n                position: relative; margin-right: 15px; overflow: hidden;\n            }\n            .vu-gradient {\n                position: absolute; bottom: 0; width: 100%; height: 100%;\n                background: linear-gradient(to top, #00ff00 0%, #00ff00 60%, #ffff00 80%, #ff8800 90%, #ff0000 100%);\n                transition: transform 0.1s;\n            }\n            .fader-container { position: relative; width: 60px; height: 100%; padding: 0 20px; margin: 0 -20px; }\n            .fader-track {\n                position: absolute; left: 50%; transform: translateX(-50%);\n                width: 10px; height: 100%; background: linear-gradient(to bottom, #222, #000);\n                box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8); border-radius: 5px;\n            }\n            .fader-scale {\n                position: absolute; left: -25px; height: 100%; width: 20px;\n                font-size: 10px; color: #888;\n            }\n            .scale-mark { position: absolute; right: 0; transform: translateY(-50%); }\n            .fader-handle {\n                position: absolute; width: 50px; height: 40px; left: 50%;\n                transform: translateX(-50%); background: linear-gradient(to bottom, #888, #444);\n                border: 2px solid #222; border-radius: 4px; cursor: grab;\n                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5); touch-action: none;\n            }\n            .fader-handle:active, .fader-handle.dragging { cursor: grabbing; background: linear-gradient(to bottom, #999, #555); }\n            .fader-handle::after {\n                content: ''; position: absolute; top: 50%; left: 50%;\n                transform: translate(-50%, -50%); width: 70%; height: 3px;\n                background: #aaa; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);\n            }\n            .control-buttons { display: grid; grid-template-columns: 1fr 1fr; gap: 10px; margin-top: 20px; }\n            .ctrl-btn {\n                padding: 12px; border: 2px solid #444;\n                background: linear-gradient(to bottom, #3a3a3a, #2a2a2a);\n                color: #ccc; cursor: pointer; font-size: 14px; font-weight: bold;\n                border-radius: 4px; transition: all 0.2s; text-transform: uppercase;\n                touch-action: manipulation;\n            }\n            .ctrl-btn:hover { background: linear-gradient(to bottom, #4a4a4a, #3a3a4a); border-color: #666; }\n            .ctrl-btn:active { transform: translateY(1px); }\n            .ctrl-btn.mute.active { background: linear-gradient(to bottom, #ff0000, #aa0000); border-color: #ff0000; color: #fff; box-shadow: 0 0 10px rgba(255, 0, 0, 0.5); }\n            .ctrl-btn.solo.active { background: linear-gradient(to bottom, #ffaa00, #aa7700); border-color: #ffaa00; color: #fff; box-shadow: 0 0 10px rgba(255, 170, 0, 0.5); }\n        </style>\n\n        <div class=\"channel-header\">\n            <div class=\"channel-label\">{{config.type}} {{config.id}}</div>\n        </div>\n\n        <div class=\"value-display\">{{displayValue}} dB</div>\n\n        <div class=\"fader-section\">\n            <div class=\"vu-meter\">\n                <div class=\"vu-gradient\" ng-style=\"{'transform': 'translateY(' + (100 - audioLevel) + '%)'}\"></div>\n            </div>\n\n            <div class=\"fader-container\">\n                <div class=\"fader-scale\">\n                    <div class=\"scale-mark\" style=\"top: 0%\">+12</div>\n                    <div class=\"scale-mark\" style=\"top: 10%\">+6</div>\n                    <div class=\"scale-mark\" style=\"top: 25%\">0</div>\n                    <div class=\"scale-mark\" style=\"top: 40%\">-6</div>\n                    <div class=\"scale-mark\" style=\"top: 55%\">-12</div>\n                    <div class=\"scale-mark\" style=\"top: 70%\">-24</div>\n                    <div class=\"scale-mark\" style=\"top: 85%\">-36</div>\n                    <div class=\"scale-mark\" style=\"top: 100%\">-60</div>\n                </div>\n                <div class=\"fader-track\"></div>\n                <div class=\"fader-handle\" ng-style=\"{'top': faderPosition + 'px'}\"></div>\n            </div>\n        </div>\n\n        <div class=\"control-buttons\">\n            <button class=\"ctrl-btn mute\" ng-class=\"{'active': muted}\" ng-click=\"toggleMute()\">MUTE</button>\n            <button class=\"ctrl-btn solo\" ng-class=\"{'active': solo}\" ng-click=\"toggleSolo()\">SOLO</button>\n        </div>\n    </div>\n\n<script>\n    (function(scope) {\n        // =================================================================\n        // KONFIGURATION (Type: 'Strip' oder 'Bus', ID: Nummer)\n        // =================================================================\n        scope.config = {\n            type: 'Strip', // Default, wird ggf. unten \u00fcberschrieben\n            id: 0\n        };\n        \n        // HACK: Namenbasierte Konfiguration beibehalten, damit das Update\n        // bestehende Nodes nicht kaputt macht.\n        if(scope.name === \"AIRMEDIA\") { scope.config.id = 6; }\n        else if(scope.name === \"LED\") { scope.config.id = 7; }\n        else if(scope.name === \"TEAMS\") { scope.config.id = 5; }\n        // =================================================================\n\n        console.log(\"Generic Fader Init:\", scope.config.type, scope.config.id);\n\n        scope.displayValue = \"+12\";\n        scope.faderPosition = 0;\n        scope.audioLevel = 0;\n        scope.muted = false;\n        scope.solo = false;\n\n        var isDragging = false;\n        var minDb = -60;\n        var maxDb = 12;\n        var trackHeight = 300;\n        var handleHeight = 40;\n        var maxPosition = trackHeight - handleHeight;\n        var sendTimer = null;\n\n        function dbToPosition(db) {\n            var normalized = (db - minDb) / (maxDb - minDb);\n            return (1 - normalized) * maxPosition;\n        }\n\n        function positionToDb(pos) {\n            var normalized = 1 - (pos / maxPosition);\n            return normalized * (maxDb - minDb) + minDb;\n        }\n\n        function updateDisplay(db) {\n            var currentDb = Math.round(db * 2) / 2;\n            scope.displayValue = currentDb >= 0 ? \"+\" + currentDb : currentDb.toString();\n            scope.faderPosition = dbToPosition(currentDb);\n        }\n\n        function sendCommand(cmd, val) {\n             // Topic construction: strip_gain_5 or bus_mute_0\n             var prefix = scope.config.type.toLowerCase();\n             scope.send({\n                payload: val,\n                topic: prefix + \"_\" + cmd + \"_\" + scope.config.id\n             });\n        }\n\n        scope.toggleMute = function() {\n            scope.muted = !scope.muted;\n            sendCommand(\"mute\", scope.muted);\n        };\n        scope.toggleSolo = function() {\n            scope.solo = !scope.solo;\n            sendCommand(\"solo\", scope.solo);\n        };\n\n        // DRAG & DROP LOGIC\n        function startDrag(event) {\n            isDragging = true;\n            event.preventDefault();\n            document.body.style.cursor = 'grabbing';\n            var handle = event.currentTarget || event.target;\n            handle.classList.add('dragging');\n            var container = document.querySelector('#fader-' + scope.$id + ' .fader-container');\n            var rect = container.getBoundingClientRect();\n\n            function handleMove(e) {\n                if (!isDragging) return;\n                var clientY = (e.touches) ? e.touches[0].clientY : e.clientY;\n                var y = clientY - rect.top - (handleHeight / 2);\n                y = Math.max(0, Math.min(maxPosition, y));\n                \n                var currentDb = positionToDb(y);\n                updateDisplay(currentDb);\n                \n                if(!scope.$$phase) scope.$apply();\n\n                clearTimeout(sendTimer);\n                sendTimer = setTimeout(function() {\n                    sendCommand(\"gain\", Math.round(currentDb * 2) / 2);\n                }, 60);\n            }\n\n            function stopDrag(e) {\n                isDragging = false;\n                document.body.style.cursor = 'default';\n                handle.classList.remove('dragging');\n                document.removeEventListener('mousemove', handleMove);\n                document.removeEventListener('mouseup', stopDrag);\n                document.removeEventListener('touchmove', handleMove);\n                document.removeEventListener('touchend', stopDrag);\n                \n                clearTimeout(sendTimer);\n                var finalDb = positionToDb(scope.faderPosition);\n                sendCommand(\"gain\", Math.round(finalDb * 2) / 2);\n            }\n\n            document.addEventListener('mousemove', handleMove);\n            document.addEventListener('mouseup', stopDrag);\n            document.addEventListener('touchmove', handleMove, { passive: false });\n            document.addEventListener('touchend', stopDrag, { passive: false });\n        }\n\n        scope.$watch('$id', function() {\n            setTimeout(function() {\n                var handle = document.querySelector('#fader-' + scope.$id + ' .fader-handle');\n                if (handle) {\n                    handle.removeEventListener('mousedown', startDrag);\n                    handle.removeEventListener('touchstart', startDrag);\n                    handle.addEventListener('mousedown', startDrag, { passive: false });\n                    handle.addEventListener('touchstart', startDrag, { passive: false });\n                }\n            }, 100);\n        });\n\n        // INCOMING UPDATES\n        scope.$watch('msg', function(msg) {\n            if (!msg || !msg.topic) return;\n            if (isDragging) return;\n\n            var parts = msg.topic.split('_'); // strip_gain_5\n            if (parts.length < 3) return;\n\n            var type = parts[0]; // 'strip' or 'bus'\n            var param = parts[1]; // 'gain', 'mute', 'solo'\n            var index = parseInt(parts[2]);\n\n            // Match Type and ID\n            if (type.toLowerCase() === scope.config.type.toLowerCase() && index === scope.config.id) {\n                var changed = true;\n                if (param === 'gain')      { updateDisplay(msg.payload); }\n                else if (param === 'mute') { scope.muted = msg.payload; }\n                else if (param === 'solo') { scope.solo = msg.payload; }\n                else if (param === 'level'){ \n                    // Convert Linear (0-1) to dB\n                    var val = msg.payload;\n                    var db = (val > 0.001) ? 20 * Math.log10(val) : -60;\n                    scope.audioLevel = Math.max(0, Math.min(100, (db + 60) * 1.66)); \n                }\n                else { changed = false; }\n\n                if (changed && !scope.$$phase) {\n                    scope.$apply();\n                }\n            }\n        });\n    })(scope);\n</script>\n</body>\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1180,
        "y": 880,
        "wires": [
            [
                "df66073822b77050",
                "44e09f290863e83a"
            ]
        ]
    },
    {
        "id": "df66073822b77050",
        "type": "function",
        "z": "624ab42bda55e5d9",
        "g": "a03be8365ffa1ffd",
        "name": "Route Fader Commands",
        "func": "if (!msg.topic) return null;\n\n// Sync\nif (msg.topic === 'requestSync') {\n    msg.payload = { command: 'sync' };\n    return msg;\n}\n\n// FORMAT: type_param_id (e.g., strip_gain_5, bus_mute_0)\nconst parts = msg.topic.split('_');\nif (parts.length !== 3) return null;\n\nconst typeStr = parts[0]; // 'strip' or 'bus'\nconst param = parts[1];   // 'gain', 'mute', 'solo'\nconst index = parseInt(parts[2]);\n\nlet typePascal = typeStr.charAt(0).toUpperCase() + typeStr.slice(1); // 'Strip' or 'Bus'\nlet command = '';\nlet value = msg.payload;\n\nswitch (param) {\n    case 'gain':\n        command = `set${typePascal}Gain`;\n        break;\n    case 'mute':\n        command = `set${typePascal}Mute`;\n        value = msg.payload ? 1 : 0;\n        break;\n    case 'solo':\n        command = `set${typePascal}Solo`;\n        value = msg.payload ? 1 : 0;\n        break;\n    default:\n        return null;\n}\n\nmsg.payload = {\n    command: command,\n    [typeStr]: index, // 'strip': 5 OR 'bus': 0\n    value: value\n};\n\nreturn msg;",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 980,
        "wires": [
            [
                "a8c379ddfd7fdb1b"
            ],
            [
                "a8c379ddfd7fdb1b"
            ],
            [
                "a8c379ddfd7fdb1b"
            ]
        ]
    },
    {
        "id": "a8c379ddfd7fdb1b",
        "type": "json",
        "z": "624ab42bda55e5d9",
        "g": "a03be8365ffa1ffd",
        "name": "To JSON String",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1360,
        "y": 960,
        "wires": [
            [
                "c8176fcab8d61f99",
                "64b6d7a20a434500"
            ]
        ]
    },
    {
        "id": "64b6d7a20a434500",
        "type": "debug",
        "z": "624ab42bda55e5d9",
        "g": "a03be8365ffa1ffd",
        "name": "WS Send",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1550,
        "y": 960,
        "wires": []
    },
    {
        "id": "931ddf622eff7a40",
        "type": "function",
        "z": "624ab42bda55e5d9",
        "g": "a03be8365ffa1ffd",
        "name": "Format Bus Gain",
        "func": "// Map bus names to indices\nconst busMap = {\n    'busA1': 0, 'busA2': 1, 'busA3': 2, 'busA4': 3, 'busA5': 4,\n    'busB1': 5, 'busB2': 6, 'busB3': 7\n};\n\nconst busIndex = busMap[msg.topic];\nif (busIndex === undefined) return null;\n\nmsg.payload = {\n    command: 'setBusGain',\n    bus: busIndex,\n    value: msg.payload\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 1020,
        "wires": [
            [
                "a8c379ddfd7fdb1b"
            ]
        ]
    },
    {
        "id": "7336acf2c219e125",
        "type": "function",
        "z": "624ab42bda55e5d9",
        "g": "a03be8365ffa1ffd",
        "name": "Process VM Response",
        "func": "// Verarbeitet Nachrichten vom Python-Server\nif (!msg.payload) return null;\n\nconst updates = [];\n\nfunction processParameter(param, value) {\n    // Match: Strip[0].Gain or Bus[0].Gain\n    const match = param.match(/(Strip|Bus).(\\d+)..(Gain|Mute|Solo)/);\n    if (!match) return;\n\n    const type = match[1].toLowerCase(); // 'strip' or 'bus'\n    const index = parseInt(match[2]);\n    const paramType = match[3];\n    \n    let topic = '';\n    let payload = value;\n\n    if (paramType === 'Gain') {\n        topic = `${type}_gain_${index}`;\n    } else if (paramType === 'Mute') {\n        topic = `${type}_mute_${index}`;\n        payload = (value === 1 || value === true);\n    } else if (paramType === 'Solo') {\n        topic = `${type}_solo_${index}`;\n        payload = (value === 1 || value === true);\n    }\n\n    if (topic) {\n        updates.push({ topic: topic, payload: payload });\n    }\n}\n\n// 1. Initial Sync\nif (msg.payload.type === 'welcome' && msg.payload.current_state) {\n    const state = msg.payload.current_state;\n    for (const [key, val] of Object.entries(state)) {\n        processParameter(key, val);\n    }\n}\n// 2. Continuous Updates\nelse if (msg.payload.type === 'parameter_update' && msg.payload.changes) {\n    msg.payload.changes.forEach(change => {\n        processParameter(change.parameter, change.value);\n    });\n}\n// 3. Level Updates (VU Meters)\nelse if (msg.payload.type === 'level_update' && msg.payload.levels) {\n    // Levels are usually strictly Strip inputs 0-F in Voicemeeter API order\n    // We map them to strip_level_i\n    msg.payload.levels.forEach((lvl, i) => {\n        updates.push({ topic: `strip_level_${i}`, payload: lvl });\n        // Bus levels are usually higher indices or separate, keep simple for now\n    });\n}\n\nif (updates.length > 0) {\n    return [updates];\n}\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 780,
        "wires": [
            [
                "47eace0ad3edb016",
                "d9b2bbe9a54a0fed"
            ]
        ]
    },
    {
        "id": "2c0fd9f27544932e",
        "type": "debug",
        "z": "624ab42bda55e5d9",
        "g": "a03be8365ffa1ffd",
        "name": "debug 3 (from UI)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 1040,
        "wires": []
    },
    {
        "id": "10295b5aed9aa77d",
        "type": "json",
        "z": "624ab42bda55e5d9",
        "g": "a03be8365ffa1ffd",
        "name": "Parse Incoming JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 550,
        "y": 760,
        "wires": [
            [
                "7336acf2c219e125",
                "c78ffe1808a50c92"
            ]
        ]
    },
    {
        "id": "c78ffe1808a50c92",
        "type": "debug",
        "z": "624ab42bda55e5d9",
        "g": "a03be8365ffa1ffd",
        "name": "debug 4 (from Parser)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 680,
        "wires": []
    },
    {
        "id": "f952ebdca99c9778",
        "type": "debug",
        "z": "624ab42bda55e5d9",
        "g": "a03be8365ffa1ffd",
        "name": "debug AIRMEDIA",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1470,
        "y": 700,
        "wires": []
    },
    {
        "id": "be0b744f62892180",
        "type": "debug",
        "z": "624ab42bda55e5d9",
        "g": "a03be8365ffa1ffd",
        "name": "debug LED",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1490,
        "y": 760,
        "wires": []
    },
    {
        "id": "44e09f290863e83a",
        "type": "debug",
        "z": "624ab42bda55e5d9",
        "g": "a03be8365ffa1ffd",
        "name": "debug TEAMS",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1420,
        "y": 880,
        "wires": []
    },
    {
        "id": "722a63c3ec7f1d7b",
        "type": "websocket-client",
        "path": "ws://172.20.65.101:9014",
        "tls": "",
        "wholemsg": "false",
        "hb": "0",
        "subprotocol": "",
        "headers": []
    },
    {
        "id": "072397c351e37a35",
        "type": "ui_group",
        "name": "Voicemeeter",
        "tab": "6cebe14286c44436",
        "order": 2,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "6cebe14286c44436",
        "type": "ui_tab",
        "name": "Audio Control",
        "icon": "volume_up",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "sync_trigger_ui",
        "type": "ui_ui_control",
        "z": "624ab42bda55e5d9",
        "name": "On Connect",
        "events": "connect",
        "x": 320,
        "y": 600,
        "wires": [
            [
                "sync_command_builder"
            ]
        ]
    },
    {
        "id": "sync_command_builder",
        "type": "function",
        "z": "624ab42bda55e5d9",
        "name": "Build Sync Cmd",
        "func": "\n// Wait 1000ms to ensure UI is fully loaded before syncing\nsetTimeout(function() {\n    msg.payload = { command: 'sync' };\n    node.send(msg);\n}, 1000);\nreturn null;\n",
        "outputs": 1,
        "x": 500,
        "y": 600,
        "wires": [
            [
                "a8c379ddfd7fdb1b"
            ]
        ]
    }
]